
@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-phone-input input {
  background-color: #f6fffa !important;
 
}




.custom-phone-input input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #17412d !important;
}

.custom-phone-input .react-tel-input .form-control {
  background-color: #f6fffa !important;
}

.custom-phone-input input::placeholder {
  color: #17412d !important; /* Change this color as needed */
}
.glow {
  box-shadow: 0 0 12px 4px #ffffff; /* yellow glow */
}

.glow2 {
  box-shadow: 0 0 4px 2px #ffffff; /* yellow glow */
}

.glow3 {
  box-shadow: 0 0 4px 2px #facc15; /* yellow glow */
}

.thin-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}
